body{
    margin: 0;
    background-color:  rgb(28, 31, 41);
}

.logo{
    display: flex;
    justify-content: center;
    width: 250px;
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(58, 67, 97);
    height: 190px;
}

.container{
    display: flex;
    justify-content: flex-start;
}

.opciones{
    display: flex;
    justify-content: space-around;
    background-color: rgb(23, 17, 52);
    color: white;
    width: 100%;
}

.hamburguesa{
    display: none;
    background-color: rgb(23, 17, 52);
    font-family: baskerville-display-pt, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
}

.hamburguesa a{
    color: white;
    background-color: rgb(23, 17, 52);
    font-family: baskerville-display-pt, serif;
    font-style: normal;
    font-weight: 400;
}

.menu-mobile{
    display: none;
}

.menu-mobile a{
    color: white;
    display: flex;
    justify-content: center;
    font-family: baskerville-display-pt, serif;
    font-style: normal;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .container{
        justify-content: space-between;
    }

    .hamburguesa{
        display: block;
    }

    .opciones{
        display: none;
    }
}

.nav-text{
    background-color: rgb(23, 17, 52);
    font-family: baskerville-display-pt, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.nav-text:hover{
    color: rgb(169, 231, 255);
}

.shop{
    display: none;
}

.intro{
   height: 570px;
}

.intro-video{
    display: flex;
    justify-content: center;
}