body{
    margin: 0;
    background-color:  rgb(23, 17, 52);
}

.logo{
    display: flex;
    justify-content: center;
    width: 250px;
}

header{
    display: flex;
    justify-content: center;
    background-color: rgb(58, 67, 97);
    height: 190px;
}

.container{
    display: flex;
    justify-content: flex-start;
}

.opciones{
    display: flex;
    justify-content: space-around;
    background-color: rgb(23, 17, 52);
    width: 100%;
}

.img-hamburguesa{
    height: 40px;
}

.hamburguesa{
    display: none;
}

.opciones a{
    color: rgba(255, 255, 255, 0.886);
    background-color: rgb(23, 17, 52);
    font-family: great-vibes, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    padding: 18px;
}

.menu-mobile{
    display: none;
}

.menu-mobile p{
    color: white;
    display: flex;
    justify-content: center;
    font-family: great-vibes, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .container{
        justify-content: center;
        background-color: rgb(23, 17, 52);
        padding: 20px;
    }

    .hamburguesa{
        display: block;
    }

    .opciones{
        display: none;
    }

    .menu-mobile{
        background-color: rgb(23, 17, 52);
        padding: 5px;
    }
}

.nav-text{
    background-color: rgb(23, 17, 52);
    font-family: great-vibes, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.nav-text:hover{
    color: rgb(169, 231, 255);
}

.intro{
   width: 100%;
}

.intro-video{
    display: flex;
    justify-content: center;
}

.acerca-de{
    background-color: rgb(58, 67, 97);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas:
    "imagen imagen";
}

.imagen-acerca-de{
    grid-column-start: 2;
}